
.place__item-block-links{
  padding-bottom: 48px;
  align-self: end;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__item-block-links {
    /* padding-bottom: 26px; */
    /* margin-top: 73px; */
  }
} 

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__item-block-links {
    padding-bottom: 32px;
  } 
}  
